<h1 class="p-5 d-flex justify-content-center bg-primary">Teacher/Group/Club Portal</h1>
    <div class="row p-5">
        <div class="col">
            <legend class="d-flex justify-content-center bg-secondary rounded-top w-75">Register New Teacher</legend>
            <div class="form-group">
                <label class="col-md-4 control-label">Name</label>
                <div class="col-md-4 inputGroupContainer  w-100">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="name" placeholder="Name" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Email</label>
                <div class="col-md-4 inputGroupContainer w-100">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="email" placeholder="Email" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Password</label>
                <div class="col-md-4 inputGroupContainer w-100">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="password" placeholder="Password" class="form-control" type="password">
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <legend class="d-flex justify-content-center bg-secondary rounded-top w-75">Register New Group</legend>
            <div class="form-group">
                <label class="col-md-4 control-label">Teacher</label>
                <div class="col-md-4 selectContainer w-100">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select name="teacher" class="form-control selectpicker">
                            <option value=" ">Plese select the teacher</option>
                            <option>1{{name}}</option>
                            <option>2{{name}}</option>
                            <option>3{{name}}</option>
                            <option>4{{name}}</option>
                            <option>5{{name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <legend class="d-flex justify-content-center bg-secondary rounded-top w-75">Register New Club</legend>
            <div class="form-group">
                <label class="col-md-4 control-label">Teacher</label>
                <div class="col-md-4 selectContainer w-100">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select name="teacher" class="form-control selectpicker">
                            <option value=" ">Plese select the teacher</option>
                            <option>1{{name}}</option>
                            <option>2{{name}}</option>
                            <option>3{{name}}</option>
                            <option>4{{name}}</option>
                            <option>5{{name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Day of club</label>
                <div class="col-md-4 selectContainer w-100">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select name="day" class="form-control selectpicker">
                            <option value=" ">Plese select a day for the club</option>
                            <option>Monday</option>
                            <option>Tuesday</option>
                            <option>Wednesday</option>
                            <option>Thursday</option>
                            <option>Friday</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">End time of club</label>
                <div class="col-md-4 selectContainer w-100">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select name="time" class="form-control selectpicker">
                            <option value=" ">Plese select the end time of the club</option>
                            <option>4:30pm</option>
                            <option>4:45pm</option>
                            <option>5pm</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Activity</label>
                <div class="col-md-4 inputGroupContainer w-100">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="club_activity" placeholder="Club Activity" class="form-control" type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-5">
        <div class="col">
            <legend class="d-flex justify-content-center bg-secondary rounded-top w-75">Edit Teacher</legend>
            <div class="form-group">
                <label class="col-md-4 control-label">Select ID of teacher to edit</label>
                <div class="col-md-4 selectContainer w-100">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select name="edit_teacher_id" class="form-control selectpicker">
                            <option value=" ">Select the ID of the teacher</option>
                            <option>{{id}}</option>
                            <option>{{id}}</option>
                            <option>{{id}}</option>
                            <option>{{id}}</option>
                            <option>{{id}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Name</label>
                <div class="col-md-4 inputGroupContainer w-100">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="edit_teacher_name" placeholder="Name" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Email</label>
                <div class="col-md-4 inputGroupContainer w-100">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="edit_teacher_email" placeholder="Email" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Password</label>
                <div class="col-md-4 inputGroupContainer w-100">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="edit_teacher_password" placeholder="New Password" class="form-control" type="password">
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <legend class="d-flex justify-content-center bg-secondary rounded-top w-75">Edit Group</legend>
            <div class="form-group">
                <label class="col-md-4 control-label">Group ID</label>
                <div class="col-md-4 selectContainer w-100">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select name="edit_group_id" class="form-control selectpicker">
                            <option value=" ">Select the ID of the group</option>
                            <option>{{id}}</option>
                            <option>{{id}}</option>
                            <option>{{id}}</option>
                            <option>{{id}}</option>
                            <option>{{id}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">New Teacher</label>
                <div class="col-md-4 selectContainer w-100">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select name="edit_teacher_id" class="form-control selectpicker">
                            <option value=" ">Select the ID of the teacher you want to replace with</option>
                            <option>{{id}}</option>
                            <option>{{id}}</option>
                            <option>{{id}}</option>
                            <option>{{id}}</option>
                            <option>{{id}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <legend class="d-flex justify-content-center bg-secondary rounded-top w-75">Edit Group</legend>
            <div class="form-group">
                <label class="col-md-4 control-label">New Teacher</label>
                <div class="col-md-4 selectContainer w-100">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select name="edit_teacher_id" class="form-control selectpicker">
                            <option value=" ">Select the ID of the teacher you want to replace with</option>
                            <option>{{id}}</option>
                            <option>{{id}}</option>
                            <option>{{id}}</option>
                            <option>{{id}}</option>
                            <option>{{id}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-5">
        <h2>Teachers</h2>

        <table class="table">
            <thead>
                <tr class="bg-info rounded-top">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ID 1</td>
                    <td>Name</td>
                    <td>Email</td>
                </tr>
                <tr>
                    <td>ID 2</td>
                    <td>Name</td>
                    <td>Email</td>
                </tr>
                <tr>
                    <td>ID 3</td>
                    <td>Name</td>
                    <td>Email</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="p-5">
        <h2>Groups</h2>

        <table class="table">
            <thead>
                <tr class="bg-info rounded-top">
                    <th>ID</th>
                    <th>Teacher</th>
                    <th>Room</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ID 1</td>
                    <td>Teacher</td>
                    <td>Room</td>
                </tr>
                <tr>
                    <td>ID 2</td>
                    <td>Teacher</td>
                    <td>Room</td>
                </tr>
                <tr>
                    <td>ID 3</td>
                    <td>Teacher</td>
                    <td>Room</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="p-5">
        <h2>Clubs</h2>

        <table class="table">
            <thead>
                <tr class="bg-info rounded-top">
                    <th>ID</th>
                    <th>Teacher</th>
                    <th>Day</th>
                    <th>Activity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ID</td>
                    <td>Teacher</td>
                    <td>Day</td>
                    <td>Activity</td>
                </tr>
                <tr>
                    <td>ID</td>
                    <td>Teacher</td>
                    <td>Day</td>
                    <td>Activity</td>
                </tr>
                <tr>
                    <td>ID</td>
                    <td>Teacher</td>
                    <td>Day</td>
                    <td>Activity</td>
                </tr>
            </tbody>
        </table>
    </div>