<h1 class="p-5 d-flex justify-content-center bg-primary">Student/Parent Portal</h1>
<div class="row p-5">
    <div class="col">
        <form class="well form-horizontal" id="register_parent">
            <fieldset>
                <legend class="d-flex justify-content-center bg-secondary rounded-top w-50">Register new parent</legend>
                <div class="form-group">
                    <label class="col-md-4 control-label">Name</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="parent_name" name="name" placeholder="Name" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Email</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="email" name="email" placeholder="Email" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <button>Register Parent</button>
        </form>
​
    </div>
    <div class="col">
        <form class="well form-horizontal" id="register_student">
            <fieldset>
                <legend class="d-flex justify-content-center bg-secondary rounded-top w-50">Register new student
                </legend>
                <div class="form-group">
                    <label class="col-md-4 control-label">Name</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="student_name" name="name" placeholder="Name" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Parent </label>
                    <div class="electContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select id="parent_id" name="parent_id" class="form-control selectpicker">
                                <option value=" ">Plese select the students parents </option>
                                {{#each parentData as |parent|}}
                                <option value={{parent.id}}>{{parent.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Group</label>
                    <div class="electContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select id="group_id" name="group" class="form-control selectpicker">
                                <option value=" ">Select select the group </option>
                                {{#each groupData as |group|}}
                                <option value={{group.id}}>{{group.id}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <button>Register Student</button>
        </form>
    </div>
    
</div>
<div class="row p-5">
    <div class="col">
        <legend class="d-flex justify-content-center bg-secondary rounded-top w-50">Edit Parent</legend>
        <form id="edit_parent">
            <div class="form-group">
                <label class="col-md-4 control-label">Select the parent </label>
                <div class="electContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select id="editparent_id" name="parent_id" class="form-control selectpicker">
                            <option value=" ">Select the parent you wish edit </option>
                            {{#each parentData as |parent|}}
                                <option value={{parent.id}}>{{parent.name}}</option>
                                {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Name</label>
                <div class="inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="editparent_name" name="new_parent_name" placeholder="Name" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Email</label>
                <div class="inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="editparent_email" name="new_parent_email" placeholder="Email" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <button>Submit Parent Edit</button>
        </form>
    </div>
        <div class="col">
        <legend class="d-flex justify-content-center bg-secondary rounded-top w-50">Edit Student</legend>
        <form id="edit_student">
            <div class="form-group">
                <label class="col-md-4 control-label">Select student </label>
                <div class="electContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select id="student_id_edit" name="student_id" class="form-control selectpicker">
                            <option value=" ">Select the student to edit </option>
                           {{#each studentData as |student|}}
                                <option value={{student.id}}>{{student.name}}</option>
                                {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Name</label>
                <div class="inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="student_name_edit" name="name" placeholder="Name" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Select Group</label>
                <div class="electContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select id="student_groupid_edit" name="new_group_id" class="form-control selectpicker">
                            <option value=" ">Select the students new group </option>
                            {{#each groupData as |group|}}
                                <option value={{group.id}}>{{group.id}}</option>
                                {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Add Club</label>
                <div class="electContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select id="add_club" name="add_club" class="form-control selectpicker">
                            <option value=" ">Select the students new club </option>
                           {{#each clubData as |club|}}
                                <option value={{club.id}}>{{club.activity}}</option>
                                {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Remove Club</label>
                <div class="electContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select id="remove_club" name="remove_club" class="form-control selectpicker">
                            <option value=" ">Select the club to remove </option>
                           {{#each clubData as |club|}}
                                <option value={{club.id}}>{{club.activity}}</option>
                                {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Add parent to student</label>
                <div class="electContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select id="new_parent_id" name="new_parent_id" class="form-control selectpicker">
                            <option value=" ">Select the  parent you wish to add</option>
                            {{#each parentData as |parent|}}
                                <option value={{parent.id}}>{{parent.name}}</option>
                                {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Remove parent from student</label>
                <div class="electContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select id="old_parent_id" name="old_parent_id" class="form-control selectpicker">
                            <option value=" ">Select the parent you wish to remove </option>
                            {{#each parentData as |parent|}}
                                <option value={{parent.id}}>{{parent.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            <button>Submit Student Edit</button>
        </form>
        
    </div>
</div>
<div class="p-5">
    <h2>Students</h2>
    <table class="table">
        <thead>
            <tr class="bg-info rounded-top">
                <th>ID</th>
                <th>Name</th>
                <th>Parent</th>
                <th>Parent Email</th>
                <th>Group ID</th>
            </tr>
        </thead>
        <tbody>
        {{#each teacherInfo.group.students as | student|}}
            <tr>
                <td>{{student.id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.parent.name}}</td>
                <td>{{student.parent.email}}</td>
                <td>{{student.group_id}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
<div class="p-5">
    <h2>Parent</h2>
    <table class="table">
        <thead>
            <tr class="bg-info rounded-top">
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
{{#each parentData as | parent |}}
            <tr>
                <td>{{parent.id}}</td>
                <td>{{parent.name}}</td>
                <td>{{parent.email}}</td>
            </tr>
{{/each}}
        </tbody>
    </table>
</div>
<script src="/index.js"></script>